<main>
    <div
      class="hero d-flex justify-content-center align-items-center"
      alt="Imagem do Projeto Apê DS"
    >
      <p class="p-2 text-white text-bold">Projeto Apê DS</p>
    </div>

  <section class="container mb-3 p-0">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/AREA-GOURMET-1.effectsResult.jpg" alt="">
        </div>

        <div class="col-6">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/CLOSET-4.jpg" alt="">
        </div>
    </div>
  </section>
</main>
