<main>
  <section class="hero container-fluid mb-3 p-0" (click)="goTo()">
    <div class="hero__img" alt="Imagem do Projeto Apê DS"></div>
    <p class="p-2">Projeto Apê DS</p>
  </section>

  <section class="projetos container-fluid" id="projetos">
    <div class="projetos row">
      <div class="col-sm p-0 mr-md-2" (click)="goTo()">
        <img
          src="./../../../assets/projetos/casa-sr/principal.jpg"
          class="projetos__img"
          alt="Image do Projeto Casa SR"
        />
        <p class="p-2">Projeto Casa SR</p>
      </div>

      <div class="col-sm p-0 ml-md-2" (click)="goTo()">
        <img
          src="./../../../assets/projetos/casa-cf/principal.jpg"
          class="projetos__img"
          alt="Imagem do Projeto Casa CF"
        />
        <p class="p-2">Projeto Casa CF</p>
      </div>
    </div>

    <div class="projetos row" (click)="goTo()">
      <div class="col-sm p-0 mr-md-2">
        <img
          src="./../../../assets/projetos/studio-ah/principal.jpeg"
          class="projetos__img"
          alt="Image do Projeto Fisiostudio AH"
        />
        <p class="p-2">Projeto Fisiostudio AH</p>
      </div>

      <div class="col-sm p-0 ml-md-2" (click)="goTo()">
        <img
          src="./../../../assets/projetos/studio-js/principal.jpg"
          class="projetos__img"
          alt="Imagem do Projeto Studio JS"
        />
        <p class="p-2">Projeto Studio JS</p>
      </div>
    </div>
  </section>

  <section class="sobre container" id="sobre">
    <div class="row d-flex align-items-center py-5">
      <div class="col-sm my-2 d-flex justify-content-center">
        <img
          src="./../../../assets/img-eliza.jpeg"
          class="img-fluid sobre__img"
          alt="..."
        />
      </div>

      <div class="col-sm my-2">
        <p>
          Especialista em Psicoarquitetura, Eliza Reis lidera o escritório que
          leva seu nome e, com um olhar sensível, desenvolve projetos que contam
          histórias e transformam a conexão entre uma família e seu lar.
        </p>
        <p>
          Aqui, todos os estilos são apreciados e valorizados, desde o
          contemporâneo até o clássico, do rústico ao tecnológico, sempre
          entendendo a personalidade de cada cliente.
        </p>
        <p>
          Criamos soluções únicas e inovadoras para projetos de arquitetura e
          interiores residenciais e comerciais que transmitem emoção através de
          cores, linhas e texturas.
        </p>
      </div>
    </div>
  </section>

  <section class="instagram container mb-5" id="instagram">
    <h3 class="mb-4">
      Acompanhe pelo Instagram
      <span
        ><a
          class="highlight"
          href="https://instagram.com/elizareisarquiteta"
          target="_blank"
          >@elizareisarquiteta</a
        ></span
      >
    </h3>

    <div class="row">
      <div class="instagram__img-container col-6 col-md-3 mb-4">
        <a href="https://instagram.com/elizareisarquiteta" target="_blank">
          <img
            src="./../../../assets/instagram/insta1.png"
            class="instagram__img"
          />
        </a>
      </div>

      <div class="instagram__img-container col-6 col-md-3 mb-4">
        <a href="https://instagram.com/elizareisarquiteta" target="_blank">
          <img
            src="./../../../assets/instagram/insta2.png"
            class="instagram__img"
          />
        </a>
      </div>

      <div class="instagram__img-container col-6 col-md-3 mb-4">
        <a href="https://instagram.com/elizareisarquiteta" target="_blank">
          <img
            src="./../../../assets/instagram/insta3.png"
            class="instagram__img"
          />
        </a>
      </div>

      <div class="instagram__img-container col-6 col-md-3 mb-4">
        <a href="https://instagram.com/elizareisarquiteta" target="_blank">
          <img
            src="./../../../assets/instagram/insta4.png"
            class="instagram__img"
          />
        </a>
      </div>
    </div>
  </section>
</main>
